.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 25px;
    background-color: #080A0E;
    /* background: url("/src/assets/Background.png");
    background-size: cover; */
    background: linear-gradient(8deg, #050609 0%, rgba(8, 10, 14, 0.00) 100%), url("/src/assets/Background.png"), rgb(20, 20, 20);
    background-size: cover;
    background-position: center;
    height: 184px;

    color: white;
}

.banner > h1 {
    font-weight: 300;
    margin: 0;
}

.blue {
    color: var(--accent);
}

.content {
    display: flex;
    padding: 25px;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    min-height: calc(100% - 184px);

    /* background: var(--black-background); */
    background: var(--malph-bg);
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    background-size: 120%;
}

.content_inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    flex: 1 0 0;
}

.sidebar {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.discord_box {
    display: flex;
    padding: 25px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    border-radius: 8px;
    background: #5561EF;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    /* background-image: linear-gradient(133deg, #4458D1 45.69%, rgba(17, 52, 132, 0.00) 95.38%), url(/src/assets/DiscordBanner.png);
    background-position: 0, 115.562px -55.512px;
    background-size: auto, 114% 290.613%;
    background-repeat: no-repeat, no-repeat; */

    background-image: linear-gradient(90deg, #4458D1 40%, rgba(17, 52, 132, 0.00) 75%), url(/src/assets/Background-Savage.png);
    background-position: 0, 115.562px -20.512px;
    background-size: auto, 100% 270.613%;
    background-repeat: no-repeat, no-repeat;
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        display: none;
    }
}