.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background:
        linear-gradient(125deg, #0C0C0CFF 45%, rgba(var(--bannerColor), 0.15) 100%),
        var(--malph-bg);
    background-size: 120%;
    background-attachment: fixed;
    background-position: top;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    aspect-ratio: 16 / 9;
    background-image: var(--bannerURL);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image:
        linear-gradient(to bottom left, black 0%, black 15%, transparent 80%),
        linear-gradient(to bottom, black 0%, black 70%, transparent 90%);
    mask-composite: intersect;
    -webkit-mask-image:
        linear-gradient(to bottom left, black 0%, black 15%, transparent 80%),
        linear-gradient(to bottom, black 0%, black 70%, transparent 90%);
    -webkit-mask-composite: source-in;
    pointer-events: none;
    opacity: 0.3;
}

.header {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    position: relative;
}

.header_back {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;

    opacity: 0.9;

    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;
}

.header_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    position: relative;
    z-index: 1;
}

.title {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 50px 50px 50px;
    color: #ffffff;
    --primary: #ffffff;
    min-height: calc(100% - 187px);
    position: relative;
}

.content a {
    text-decoration: underline;
}

.content img {
    max-width: 100%;
    height: auto;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.authors {
    display: flex;
    max-width: 90%;
    gap: 25px;
    flex-wrap: wrap;
}

.releaseDate {
    color: #ACACAC;
    font-size: 12px;
    font-weight: 400;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    height: 48px;
}

.video_container {
    padding: 24px 0 12px 0;
    display: flex;
    justify-content: center;
}

.video {
    border: none;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    height: 50vh;
    width: fit-content;
    margin: 20px auto 10px;
}