.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.title {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    align-self: stretch;
    background: #151515;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.title_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title_right {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
}

.icon {
    color: var(--accent);
}