.main {
    display: flex;
    min-height: calc(100% - 184px);
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    /* background: var(--black-background); */
    background: var(--malph-bg);
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    background-size: 120%;
    z-index: 1000;
}

.banner {
    display: flex;
    height: 184px;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 25px;
    align-self: stretch;

    /* background-image:
        linear-gradient(216deg, #080A0E 0%, rgba(0, 0, 0, 0.00) 100%),
        url("/src/assets/Background.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover; */
    background: linear-gradient(8deg, #050609 0%, rgba(8, 10, 14, 0.00) 100%), url("/src/assets/Background.png"), rgb(20, 20, 20);
    background-size: cover;
    background-position: center;
}

.empty_banner {
    display: flex;
    height: 184px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    align-self: stretch;
    /* background: #080A0E; */
    /* background: url("/src/assets/Background.png");
    background-size: cover;
    background-position: center; */
    background: linear-gradient(8deg, #050609 0%, rgba(8, 10, 14, 0.00) 100%), url("/src/assets/Background.png"), rgb(20, 20, 20);
    background-size: cover;
    background-position: center;
    color: white;
}

.empty_banner_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 1;
    margin: 0;
}

.empty_banner_subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    opacity: 0.25;
}

.empty_queue {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    /* color: rgba(0, 0, 0, 0.50); */
    color: #fff;
    /* background: #000000AA; */
    background: #FFFFFF33;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.downloading_text {
    color: #ffffff;
    /* font-size: 12px; */
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: uppercase;
}

.progress_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.progress_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    color: #ffce2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.progress_bar_root {
    display: flex;
    height: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 50px;
    background: #000;
}

.progress_bar_indicator {
    align-self: stretch;
    border-radius: 50px;
    background: #2ED9FF;
    transition: width 50ms;
}