.header {
    display: flex;
    height: 184px;
    flex-shrink: 0;
    align-self: stretch;
    flex-direction: column-reverse;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.actions {
    display: flex;
    height: 55px;
    padding: 15px 25px 15px 135px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
    color: var(--primary-75);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.icon_container {
    position: relative;
    z-index: 1;
}

.icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.75);

    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.game_info {
    position: absolute;
    bottom: 60px;
    left: 130px;

    display: flex;
    align-items: center;
    gap: 12px;

    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.game_name {
    text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.version_badge {
    display: flex;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 50px;
    /* background: white; */
    background: #0e5336;
    color: #77FFC3;

    /* color: #7C7C7C; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
}

.main {
    display: flex;
    width: 100%;
    min-height: calc(100% - 184px);
    padding: 25px;
    align-items: flex-start;
    gap: 25px;
    /* background: var(--black-background); */
    background: var(--malph-bg);
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    background-size: 120%;
}

.content {
    flex: 1 0 0;
    font-style: italic;

    color: rgba(1, 1, 1, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.info_entry {
    display: flex;
    padding: 0px 1px;
    align-items: center;
    gap: 6px;

    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}