.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 8px;

    /* Masking works WAY better than below */
    /*overflow: none;*/
    mask: linear-gradient(#000 0 0);
}

.button {
    /* Disable the button's border radius and replace it with our own */
    --borderRadius: 0;

    width: 100%;
}

.dropdown_button {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    height: 3.525em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--dropdown_background);
    border: none;
    cursor: pointer;
}

.dropdown_content {
    width: 220px;
    background: var(--dropdown_background);

    border-radius: 6px;
    padding: 4px;

    box-shadow: 0px 12px 48px -8px rgba(0, 0, 0, 0.5), 0px 4px 16px -4px rgba(0, 0, 0, 0.4);
}

.dropdown_item {
    display: flex;
    align-items: center;
    position: relative;

    border-radius: 5px;
    padding: 8px 10px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);

    color: var(--primary);

    transition: background 0.1s;

    outline: none;
    user-select: none;
    cursor: pointer;
}

.dropdown_item[data-highlighted] {
    background: rgba(255, 255, 255, 0.15);
}

.dropdown_arrow {
    fill: var(--dropdown_background);
}