.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 36px;
    height: 36px;
}

.icon.error svg {
    color: #F32B37;
}

.icon.warning svg {
    color: #FFB800;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contents {
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    line-height: 1.5;
}

.contents p {
    margin: 4px 0 8px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    padding-top: 12px;
}

.buttons > button {
    display: flex;
    flex: 1 0 0;
}